<%= simple_form_for(@order, :html => { class: 'form-horizontal' }) do |f| %>

	<%= f.input :pracownik %>
  <%= f.input :obszar, collection: [ "lokalny", "cała KW"] %>
    

  <div class="form-actions">
    <%= f.button :submit, label: 'Utwórz' %>
  </div>

<% end %>
