<h2>Twój wniosek:</h2>
<ul>
	<% @cart.line_items.each do |item| %>
		<li><%= item.role.numer %> | <%= item.role.nazwa %></li>
	<% end %>
</ul>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
