$btnPrimaryBackground: green;

@import "bootstrap";

body {
	padding-top: 50px;
}

.page-header {
	padding: 10px 0px 10px 10px;
	background-color: lighten($grayLight, 30%);
}

/* Footer */

.footer {
	margin-top: 40px;
	border-top: solid 1px #CCC;
}


